<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Highbrook Properties</h1>
    <p><%= @user.name %>, thank you for registering with Highbrook Properties.  We are setting up your details so that you may pay your rent with a credit or debit card at the Highbrook Properties <a href="http://www.highbrookproperties.com">web site</a>.<br>
    Paying by credit or debit card is an option and you can still pay with the other payment methods described in your lease.</p>
    <p>Thank You,<br>Highbrook Management</p>
  </body>
</html>