<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>37 Brookveiw Ave</h1>
    <div class="connected-carousels">
      <div class="stage">
        <div class="carousel carousel-stage">
          <ul>
            <li><img src="/assets/brookcar/37front.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/brookcar/Brook1.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/brookcar/Brook2.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/brookcar/Brook3.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/brookcar/Brook4.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/brookcar/Brook5.jpg" width="600" height="400" alt=""></li>
          </ul>
        </div>

        <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
        <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
      </div>

      <div class="navigation">
        <a href="#" class="prev prev-navigation">&lsaquo;</a>
        <a href="#" class="next next-navigation">&rsaquo;</a>
        <div class="carousel carousel-navigation">
          <ul>
            <li><img src="/assets/brookcar/37frontthumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/brookcar/Brook1_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/brookcar/Brook2_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/brookcar/Brook3_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/brookcar/Brook4_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/brookcar/Brook5_thumb.jpg" width="50" height="50" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Property Description</h3>
    <p>Three Family located on the East Side of Troy near Wynantskill.  Tenants pay gas and electric, and each apartment has one offstreet parking space.
		All apartments include mini-blinds, newer appliances, and high efficiency gas forced air heat.</p>
    <p><u>Apt. 1: 1st floor</u><br />
					1 bed, 1 bath, oven, refrigerator<br />
					<u>Apt. 2: 2nd Floor</u><br />
					2 beds, 1 bath, dishwasher, oven, refrigerator, central A/C<br />
					<u>Apt. 3: 1st floor</u><br />
					1 bed, 1 bath, W/D, dishwasher, oven, refrigerator, rear porch</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
  </div>
</div>
