<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>37 Brookveiw Ave</h1>
    <h3>Responsive Carousel</h3>
    <h3>Property Description</h3>
    <p>Three Family located on the East Side of Troy near Wynantskill.  Tenants pay gas and electric, and each apartment has one offstreet parking space.
		All apartments include mini-blinds, newer appliances, and high efficiency gas forced air heat.</p>
    <p><u>Apt. 1: 1st floor</u><br />
					1 bed, 1 bath, oven, refrigerator<br />
					<u>Apt. 2: 2nd Floor</u><br />
					2 beds, 1 bath, dishwasher, oven, refrigerator, central A/C<br />
					<u>Apt. 3: 1st floor</u><br />
					1 bed, 1 bath, W/D, dishwasher, oven, refrigerator, rear porch</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
  </div>
</div>
