<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>1891 Highland Ave</h1>
    <h3>Responsive Carousel</h3>
    <h3>Property Description</h3>
    <p>Two Family within walking distance to RPI and Troy High School.  Each apartment includes mini-blinds, new appliances, brand new high efficiency gas forced air heat, and washer/dryer hookups.  Tenants pay gas and electric.</p>
    <p>
			<u>Apt. 1: 1st floor</u><br />
			2 beds, 1 bath, W/D hookups, oven, refrigerator and HW Floors<br />
			<u>Apt. 2: 2nd Floor</u><br />
			2 beds, 1 bath, W/D hookups, oven, refrigerator and HW Floors
			</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
  </div>
</div>