<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>1891 Highland Ave</h1>
    <div class="connected-carousels">
      <div class="stage">
        <div class="carousel carousel-stage">
          <ul>
            <li><img src="/assets/highcar/1891front.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/highcar/High1.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/highcar/High2.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/highcar/High3.jpg" width="600" height="400" alt=""></li>
            <li><img src="/assets/highcar/High4.jpg" width="600" height="400" alt=""></li>
          </ul>
        </div>

        <a href="#" class="prev prev-stage"><span>&lsaquo;</span></a>
        <a href="#" class="next next-stage"><span>&rsaquo;</span></a>
      </div>

      <div class="navigation">
        <a href="#" class="prev prev-navigation">&lsaquo;</a>
        <a href="#" class="next next-navigation">&rsaquo;</a>
        <div class="carousel carousel-navigation">
          <ul>
            <li><img src="/assets/highcar/1891frontthumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/highcar/High1_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/highcar/High2_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/highcar/High3_thumb.jpg" width="50" height="50" alt=""></li>
            <li><img src="/assets/highcar/High4_thumb.jpg" width="50" height="50" alt=""></li>
          </ul>
        </div>
      </div>
    </div>
    <h3>Property Description</h3>
    <p>Two Family within walking distance to RPI and Troy High School.  Each apartment includes mini-blinds, new appliances, brand new high efficiency gas forced air heat, and washer/dryer hookups.  Tenants pay gas and electric.</p>
    <p>
			<u>Apt. 1: 1st floor</u><br />
			2 beds, 1 bath, W/D hookups, oven, refrigerator and HW Floors<br />
			<u>Apt. 2: 2nd Floor</u><br />
			2 beds, 1 bath, W/D hookups, oven, refrigerator and HW Floors
			</p>
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
  </div>
</div>