<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>60 Thirteenth St.</h1>
    <h3>Responsive Carousel</h3>
    <h3>Property Description</h3>
    <p>Single family home with 7 bedrooms, 2 full baths, large eat-in kitchen and large family room.  One block to the RPI campus in the student rental area.  
		This property has been remodeled and now has a new kitchen, refinished hardwood floors, new paint and updated electric.<br />
		Partially furnished and rent includes basic cable, internet, gas and electric.<br />Laundry in building.<br />
  </div>
</div>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h3>Map</h3>
  </div>
</div>